
.App {
  background-color: #282c34;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vmin;
  margin-left: 1%;
  margin-right: 1%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34; 
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Section{
  background-color:#282c34;
  border-radius: 6px;
  border-color: #61dafb;
  align-items: center;
  margin: 2%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px;
  color: white;
}

.Paragraph{
  text-align: justify;
}

.Image-container{
  display: inline-block;
  list-style-type: none;
  padding: 10px;
  margin: 2px;
  height: 8vmin;
  transition: .3s;
}

.Image-container:hover{
  cursor: pointer;
  height: 10vmin;
}

.Foot{
  display: flex;
  flex-direction: column;
  height: fit-content;
}
.Foot::before{
  padding-top: 20px;
}

.About{
  text-align: left;
}

.image{
  height: inherit;
  width: inherit;
  border-radius: 20px;
  transition: .3s;
}


.Profile-picture {
  --b:3px;  /* border width*/

  background: url("https://avatars.githubusercontent.com/u/49731445?v=4");
  background-size: contain;
  border-radius: 50%;

  color: #313149;
  display: inline-block;
  margin: 20px;
  height: 10vmin;
  aspect-ratio: 1;
  position: relative;
  z-index: 0;
  transition: .3s;
}

.Profile-picture:before {
  content:"";
  position:absolute;
  z-index:-1;
  inset: 0;
  background: var(--c,linear-gradient(to right, #9c20aa, #fb3570));
  padding: var(--b);
  border-radius: 50%;

  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
          mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

.Profile-picture:hover{
  height: 12vmin
}

.Socials-image{
  margin-left: 10px;
  margin-right: 10px;
}

.Button{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.falseBtn,
.trueBtn{
  border-radius: 4px;
  border: none;
  color: aqua;
  background-color: #282c34;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  padding-left: 5%;
  padding-right: 5%;
  width: 400px;
  transition: all .5s;
  cursor: pointer;
  margin: 5px;
}

.falseBtn span,
.trueBtn span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: .5s;
}

.falseBtn span::after{
  content: '\00bb';
  transform: rotate(90deg);
  position: absolute;
  opacity: 0;
  top: 30px;
  right: 45%;
  transition: .5s;
}

.trueBtn span::after{
  content: '\00bb';
  transform: rotate(-90deg);
  position: absolute;
  opacity: 0;
  top: 30px;
  right: 48%;
  transition: .5s;
}

.falseBtn:hover span,
.trueBtn:hover span{
  padding-bottom: 15px;
}

.falseBtn:hover span::after{
  opacity: 1;
  right: 45%;
}

.trueBtn:hover span::after{
  opacity: 1;
  right: 48%;
}

